* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../MyGithub/images/image-1.jpg);
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  /* Background image doesn’t tile */
  background-repeat: no-repeat;
  /* Background image is fixed in the viewport so that it doesn’t move when
the content’s height is greater than the image’s height */
  background-attachment: fixed;
  /* This is what makes the background image rescale based
on the container’s size */
  background-size: cover;
  /* Set a background color that will be displayed
while the background image is loading */
  background-color: #464646;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  align-items: center;
}
p {
  font-size: 16px;
  word-break: break-all;
}
/* --------------------------------------------------------- */
.transparent-elemenet {
  background-color: black;
  opacity: 0.9;
  height: 50%;
  border-style: solid;
  border-color: #ff9801;
  /* box-shadow: 10px 10px #ff9801; */
}
.transparent-rectangle {
  display: flex;
  /* background-color: #dcdce3; */
  flex-direction: column;
  width: 30%;
  max-width: 800px;
  /* border-radius: 20px; */
}
.transparent-rectangle__top {
  margin: 10px 10px;
  background-color: black;
  /* background-color: #dcdce3; */
  opacity: 0.9;
  display: flex;
  flex-direction: row;
  height: 50%;
}
.transparent-rectangle__buttom {
  margin: 10px 10px;
  height: 50%;
  color: #fff;
  background-color: black;
  /* background-color: #dcdce3; */
  opacity: 0.9;
}
.transparent-rectangle img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border-style: solid;
  border-color: #ff9801;
}
.transparent-rectangle__top-right {
  align-self: center;
  text-align: center;
  padding-top: 50px;
  padding: 20px 20px;
  color: #fff;
  font-size: 16px;
  max-width: 100%;
}

/* ----------------------------------- */
.transparent-search {
  width: 20%;
  /* border-radius: 20px ; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  /* background-color: #dcdce3; */
  opacity: 0.8;
  gap: 1px;
}

.transparent-search h2 {
  padding-top: 50px;
  font-size: 30px;
  color: #fff;
  border-bottom: black;
}
.transparent-search form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20%;
  width: 80%;
  height: 80%;
  max-width: 100%;
}

.transparent-search form input[type="text"] {
  background-color: #fff;
  color: black;
  font-size: 16px;
  border: none;
  align-items: center;
  height: 20%;
  width: 90%;
}

.transparent-search form button {
  border-radius: 15px;
  background-color: #ff9801;
  /* background-color: #243b55; */
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 3px;
}

.transparent-search button:hover {
  background: #243b55;
  color: #fff;
  box-shadow: 0 0 5px #243b55, 0 0 25px #243b55, 0 0 50px #243b55,
    0 0 100px #243b55;
}
/* -------------------------------------- */
