* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../MyGithub/images/image-1.jpg);
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  /* Background image doesn’t tile */
  background-repeat: no-repeat;
  /* Background image is fixed in the viewport so that it doesn’t move when
the content’s height is greater than the image’s height */
  background-attachment: fixed;
  /* This is what makes the background image rescale based
on the container’s size */
  background-size: cover;
  /* Set a background color that will be displayed
while the background image is loading */
  background-color: #464646;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  align-items: center;
}
p {
  font-size: 18px;
  word-break: break-all;
}

/* --------------------------------------------------------- */
.transparent-elemenet {
  background-color: black;
  opacity: 0.8;
  border-style: solid;
  border-color: #ff9801;
  padding: 20px 20px;
}
.transparent-rectangle {
  display: flex;
  flex-direction: column;
  width: 30%;
  max-width: 800px;
  gap: 10%;
}
.transparent-rectangle__top {
  background-color: black;
  opacity: 0.9;
  display: flex;
  flex-direction: row;
  gap: 5%;
  width: 100%;
}
.transparent-rectangle__bottom {
  padding: 10px 10px;
  width: 100%;
  color: #fff;
}
.transparent-rectangle img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border-style: solid;
  border-color: #ff9801;
}
.transparent-rectangle__top-right {
  align-self: center;
  color: #fff;
}

/* ----------------------------------- */
.transparent-search {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  opacity: 0.8;
  gap: 30px;
}

.transparent-search h2 {
  font-size: 30px;
  color: #fff;
  border-bottom: black;
}
.transparent-search form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 80%;
  max-width: 100%;
}

.transparent-search__input {
  background-color: #fff;
  color: black;
  font-size: 16px;
  border: none;
  align-items: center;
  width: 90%;
}

.transparent-search__submit-button {
  border-radius: 15px;
  border-color: #ff9801;
  background-color: black;
  padding: 10px 20px;
  margin: 10px 20px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 3px;
  white-space: pre-line;
}

.transparent-search__submit-button:hover {
  background: #ff9801;
  color: #fff;
  box-shadow: 0 0 5px #ff9801, 0 0 10px #ff9801, 0 0 20px #ff9801,
    0 0 50px #ff9801;
}
/* -------------------------------------- */
/* localStorage button */
.clear__localStorage-button {
  position: absolute;
  left: 0;
  top: 0;
  border-color: #ff9801;
  background-color: black;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 3px;
}
/* --------------------------------- */
/* print */
.print__scroll-bar {
  padding: 10px 10px;
  position: absolute;
  background-color: lightblue;
  width: 100%;
  height: 50px;
  overflow: auto;
  bottom: 0;
  border-color: #ff9801;
  background-color: black;
  color: #fff;
}
